body{
    font-family: 'Oswald', sans-serif;
  
}

header {
background-image: url(../img/bg_hero.png);
background-repeat: no-repeat;
background-size: cover;
height:  737px;
}


.titulo{
    padding-top: 600px;
    color: #FFFFFF;
    font-size: 72pt;
}

.titulo h2{
    font-weight: 300;
}

.sobremi{
    padding-top: 30px;
}

.sobremi h3{
    text-align: center;
    padding-top: px;
}



.experiencia{
    padding-top: 50px;
} 

.experiencia h3{
    padding-bottom: 20px;
}
.parrafos{
    font-weight: 300;
}

.iconos{
    font-size: 100px;
    text-align: center;
}

.work h2{
   margin-top: 20px;
}

.card-deck{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 18px;
}

.carousel-indicators {
    bottom: -62px;
    color: black;
  }
  
  .carousel-indicators li{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
  
  }

footer iconosf{
    font-size: 70px;
}